<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reading: {{ book.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="reader-body">
    <nav>
        <a href="/library">Back to Library</a> | Reading: {{ book.title }}
    </nav>

    <div id="area" data-book-path="/{{ book.path.replace('\\', '/') }}"></div>

    <div class="controls">
        <button id="prevButton">Previous</button>
        <button id="nextButton">Next</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>